div.robot_layout {
    display: grid;
}

.robot_layout .space {
    border: 1px solid white;
    grid-template-columns: 
        1fr 2fr 1fr
        ;
    grid-template-rows: 
        1fr 2fr 1fr
        ;
}