/* 
####################################################3
# TOP LEVEL 
####################################################3
*/
.dash {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    margin-top: 2rem;
}

/* .dash > * {
    border: 1px solid rgb(0, 0, 0);
} */
@media (prefers-color-scheme :dark){
    .dash > {
        background-color: #ffffff;
    }
}

@media (prefers-color-scheme :light){
    .dash > *{
        border: 1px solid rgb(0, 0, 0)
    }
}

/* 
####################################################3
# The groups of instructions
####################################################3
*/
/* left to right */
.instruction-types {
    height: 40rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}


.single-instruction-type {
    box-sizing: content-box;
    display: block;
    padding: .5rem 1rem .5rem 1rem;
    cursor: pointer;
    margin-bottom: .5rem;
    transition: all 0.3s;
}

.single-instruction-type::after {
    /* was going to have the color effect on hover */
}

/* 
####################################################3
# the menu of instructions
####################################################3
*/
/* another one */
.instruction-menu {
    display: flex;
    flex-direction: column;
    justify-content: safe center;

    padding: 2rem;
    overflow-y: scroll;
    height: 80vh;
}

.instruction-submenu {
    display: flex;
    flex-direction: column;
    justify-content: safe center;
    gap: .5rem;
}

.instruction-menu h2 {
    font-weight: bold;
    font-size: 18px;
    margin: .5rem 2rem .5rem 2rem;
}

.instruction-menu .instruction-chip {
    border-radius: 5px;
    cursor: pointer;
}
@media (prefers-color-scheme :dark){
    .instruction-chip{
        background-color: #444;
    }
}

@media (prefers-color-scheme :light){
    .instruction-chip{
        background-color: #efefef;
        color:rgb(70, 113, 169);
    }
}

/* Selected Instructions */
/* 
####################################################3
# what the customer has ordered from the instruction menu
####################################################3
*/

.instruction-order {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    /* gap: 1rem; */
}

.instruction-order .single-selected-instruction {
    border-left: 5px solid black;
    padding: 0 .5rem 0 .5rem ;
    /* background-color: #444; */

    display: flex;
    /* flex-direction: row; */
    justify-content: left;
    gap: 1rem;
}

.single-selected-instruction{
    margin:.25rem;
}

@media (prefers-color-scheme :dark){
    .single-selected-instruction{
        background-color: #444;
    }
}

@media (prefers-color-scheme :light){
    .single-selected-instruction{
        background-color: #efefef;
        color:rgb(70, 113, 169);
    }
}

.single-selected-instruction input {
    width: 3rem;
    height: 1.25rem;
}
/* 
####################################################3
# the console of stuff
####################################################3
*/

.console-recieved #robot-recv {
    position: relative;
    display: block;
    bottom: 0;
    height: 30rem;
}
/* 
####################################################3
# OTHER
####################################################3
*/
.large-space {
    display: block;
    flex-grow: 1;
    background-color: black;    
    margin-top: 22rem;
}