.dash {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
}

.dash > * {
    border: 1px solid white;
}

/* left to right */
.instruction-types {
    height: 40rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.single-instruction-type {
    box-sizing: content-box;
    display: block;
    padding: .5rem 1rem .5rem 1rem;
    cursor: pointer;
    margin-bottom: .5rem;
    transition: all 0.3s;
}

.single-instruction-type::after {
    /* was going to have the color effect on hover */
}