* {
    box-sizing: border-box;
}

nav {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

li {
    list-style: none;
}

li a {
    position: relative;
    display: inline-block;

    background-color: #444;
    padding: .5vw 1.5vw .5vw 1.5vw;
    /* background-color: #444; */
    padding: 5px 20px 5px 20px;
    border-radius: 5px;

    font-size: 18px;

    transition: ease all .3s;
}

li a:hover {
    background-color: #111;
}

@media (prefers-color-scheme :dark){
    li a:hover{
        background-color: #111;
    }
}

@media (prefers-color-scheme :light){
    li a:hover{
        background-color: #c2c2c2;
        color:rgb(70, 113, 169);
    }
}

li a::after, li a::before {
    content: "";
    position: absolute;
    background-color: red;
    height: 2px;
    bottom: 3px;
    width: 0;
    transition: ease .3s all;
}

@media (prefers-color-scheme :dark){
    li a{
        background-color: #444;
    }
}

@media (prefers-color-scheme :light){
    li a{
        background-color: #efefef;
        color:rgb(70, 113, 169);
    }
}

li a:hover::after, li a:hover::before {
    width: 45%;
}

li a::after {
    left: 50%;
}

li a::before {
    right: 50%;
}